<!DOCTYPE html>

<html>

    <head>
        <title>Nicky's</title>
    </head>

    <body>
        <h1>
            Welcome to Nicky's home page @ Django for Everybody Specialization
        </h1>

        <p> Here are some of my <strong>home-made</strong> apps: </p>
        
<ul>    
    <li><a href="/polls">A Polls Application</a></li>
    <li><a href="/hello">Test the session</a></li>
    <li><a href="/autos">Autos CRUD</a></li>
    <li><a href="/cats">Cats CRUD - A cat lovers app</a></li>

</ul>
        
    </body>

</html>

